# Add any directories, files, or patterns you don't want to be tracked by version control

*.mm
*DS_Store
*.o
*.gz
*.aux
*.log
*.synctex
*.blg
*.bbl
*dSYM
*.out*
driver
*.core
makefile
driver
DGdriver
FDdriver
*._*
*.pyc
*.npz

spacetime.pdf
notes.pdf
disc_notes.pdf

hypre
mfem
