# Add any directories, files, or patterns you don't want to be tracked by version control
*.pdf
*.mm
*DS_Store
*.o
*.gz
*.aux
*.log
*.synctex
*.blg
*dSYM
*.out*
*.gitignore

# Specific files of the above types to be included
!spacetime/initializing_multi_notes.pdf
